html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    align-items: center;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}



.row{
    margin: 8px 0;
    
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}